#add for board init.rc for recovery mode
import /init.recovery.common.rc
import /init.recovery.samsung.rc

on boot
    start boot-hal-1-1
    start health-hal-2-1

on init
   start load_touchscreen_modules
   start load_flashlight_modules

service load_touchscreen_modules /system/bin/load_touchscreen_modules.sh
    oneshot
    disabled
    user root
    group root
    seclabel u:r:recovery:s0

service load_flashlight_modules /system/bin/load_flashlight_modules.sh
    oneshot
    disabled
    user root
    group root
    seclabel u:r:recovery:s0
