# from vendor/etc/init/vendor.samsung.hardware.sysinput@1.1-service.rc
on early-boot
    # from vendor/etc/init/init.md.rc (edited by sheffdev)
    # adding more ts lkm (rsuntk)
    insmod /vendor/lib/nt36xxx_ss.ko
    insmod /vendor/lib/chipone-tddi_ss.ko
    insmod /vendor/lib/chipone-tddi.ko
    insmod /vendor/lib/gcore_ss.ko
    insmod /vendor/lib/gcore_7202h.ko
    insmod /vendor/lib/ilitek-tddi.ko
    insmod /vendor/lib/focaltech_ts.ko
    insmod /vendor/lib/tcs3430.ko
    
    # default
    chown system system /dev/tspio
    chown system system /sys/class/sec/tsp/enable

on init
    # from recovery: init.recovery.samsung.rc
    # unlink /efs > /mnt/vendor/efs
    rm /efs
    mkdir /efs
    mkdir /sec_efs

    chown system root /proc/cpwcn/wdtirq
    chmod 766 /proc/cpwcn/wdtirq

on fs
    start prepdecrypt

on post-fs
    chown system system sys/class/sec/tsp/input/enabled
    chmod 664 sys/class/sec/tsp/input/enabled

on post-fs-data
    chown system system /proc/tp_gesture
    chmod 0660 /proc/tp_gesture
    chown system system /proc/icn85xx_tool
    chmod 0660 /proc/icn85xx_tool

on boot
    install_keyring

service prepdecrypt /system/bin/prepdecrypt.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

service keystore /system/bin/keystore /data/misc/keystore
    user root
    group root
    disabled
    seclabel u:r:recovery:s0
    writepid /dev/cpuset/foreground/tasks

service keystore_auth /system/bin/keystore_auth
    oneshot
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keymaster-4-1 /vendor/bin/hw/android.hardware.keymaster@4.1-unisoc.service
    class early_hal
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0  /vendor/bin/hw/android.hardware.gatekeeper@1.0-service.trusty
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

on property:vendor.sys.listener.registered=true
    start keymaster-4-1
    start gatekeeper-1-0

on property:crypto.ready=1 && property:ro.crypto.state=encrypted
    start keymaster-4-1
    start gatekeeper-1-0

on property:crypto.ready=1 && property:hwservicemanager.ready=true
    start keymaster-4-1
    start gatekeeper-1-0

on property:ro.crypto.state=unsupported || property:ro.crypto.state=unencrypted || property:twrp.decrypt.done=true
    stop keymaster-4-1
    stop gatekeeper-1-0





