#add for board init.rc for recovery mode
import /init.recovery.common.rc

on init
    # from recovery: init.recovery.samsung.rc
    # unlink /efs > /mnt/vendor/efs
    rm /efs
    mkdir /efs
    mkdir /sec_efs

    chown system root /proc/cpwcn/wdtirq
    chmod 766 /proc/cpwcn/wdtirq

on boot
    start boot-hal-1-1
    start health-hal-2-1

on fs
   start load_modules

service load_modules /system/bin/load_modules.sh
    oneshot
    disabled
    user root
    group root
    seclabel u:r:recovery:s0